
//Backgroung Colors
.bg-white {
    background-color: $color-white;
}

.bg-black {
    background-color: $color-black;
}

.bg-yellow {
    background-color: $color-yellow;
}

.bg-red {
    background-color: $color-red;
}
.bg-blue {
    background-color: $color-blue;
}
.bg-orange {
    background-color: $color-orange;
}
.bg-violet {
    background-color: $color-violet;
}
.bg-green {
    background-color: $color-green;
}
.bg-pink {
    background-color: $color-pink;
}
.bg-olive {
    background-color: $color-olive;
}
//Background gray-scale
.bg-gray-f5 {
background-color: $color-gray-f5;
}
.bg-gray-fb {
background-color: $color-gray-fb;
}
.bg-gray-e6 {
background-color: $color-gray-e6;
}
.bg-gray-9 {
background-color: $color-gray-9;
}
.bg-gray-8 {
background-color: $color-gray-8;
}
.bg-gray-7
 {
background-color: $color-gray-7;
}
.bg-gray-6 {
background-color: $color-gray-6;
}
.bg-gray-5 {
background-color: $color-gray-5;
}
.bg-gray-4 {
background-color: $color-gray-4;
}
.bg-gray-3 {
background-color: $color-gray-3;
}
.bg-gray-2 {
background-color: $color-gray-2;
}
.bg-gray-1 {
background-color: $color-gray-1;
}