@import 'variables';
/*===============FONTS======*/
h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

.font-s {
    font-size: 26px;
}

.font-m {
    font-size: 30px;
}

.font-m > h1 {
    font-size: 50px !important;
}

.font-m > h2 {
    font-size: 40px !important;
}

.font-m > h3 {
    font-size: 40px !important;
}
.font-m > h4 {
    font-size: 30px !important;
    color: #7ed5fa;
}
.font-m > p {
    font-size: 20px !important;
}

.font-l {
    font-size: 40px;
}

.font-l {
    font-size: 50px;
}

.font-white {
    color: white;
}

.font-grey {
    color: #333;
}
hg {
    font-size: 70px;
    color: $color-gelb;
    font-family: $font-stack;
}

hw {
    font-size: 70px;
    color: white;
    font-family: $font-stack;
}

hb {
    font-size: 70px;
    color: $color-calipso;
    font-family: $font-stack;
}

hb-m {
    font-size: 50px;
    color: $color-calipso;
    font-family: $font-stack;
}
hb-w {
    font-size: 50px;
    color: white;
    font-family: $font-stack;
}
.titel-gross {
    font-size: 80px;
    color: #FFF;
    text-shadow: 1px 1px 4px #202A35;
}

.title {
    color: #FFF;
    font-size: 30px;
}

.weiss {
    color: #FFF;
    font-family: $font-stack;
}

.grey {
    color: #444;
    font-family: $font-stack;
}

.text-center {
 text-align: justify !important;
}
.box-carousel {
    font-family: 'Roboto condensed', sans-serif !important;
    font: 16px/20px;
}
.box-title {
    font-family: 'Roboto condensed', sans-serif !important;
    font-size: 40px;
}

.txtbut {
    color: #555;
}