//Backgroung Colors
.font-white {
    color: $color-white !important;
}

.font-black {
    color: $color-black;
}

.font-yellow {
    color: $color-yellow;
}

.font-red {
    color: $color-red;
}
.font-blue {
    color: $color-blue;
}
.font-orange {
    color: $color-orange;
}
.font-violet {
    color: $color-violet;
}
.font-green {
    color: $color-green;
}
.font-pink {
    color: $color-pink;
}
.font-olive {
    color: $color-olive;
}
//Background gray-scale
.font-gray-f5 {
color: $color-gray-f5;
}
.font-gray-fb {
color: $color-gray-fb;
}
.font-gray-e6 {
color: $color-gray-e6;
}
.font-gray-9 {
color: $color-gray-9;
}
.font-gray-8 {
color: $color-gray-8;
}
.font-gray-7
 {
color: $color-gray-7;
}
.font-gray-6 {
color: $color-gray-6;
}
.font-gray-5 {
color: $color-gray-5;
}
.font-gray-4 {
color: $color-gray-4;
}
.font-gray-3 {
color: $color-gray-3;
}
.font-gray-2 {
color: $color-gray-2;
}
.font-gray-1 {
color: $color-gray-1;
}