/* ==============GLOBALBIT.scss ==============*/
@import 'variables';
@import 'main';
@import 'bg';
@import 'font-colors';
@import 'bg-images';
@import 'img-effects';
@import 'img';
@import 'navbar';
@import 'franse';
@import 'fonts';
@import 'strukture';
@import 'content';
@import 'footer';
@import 'maps';
@import 'code';
@import 'compatible';
@import 'bootstrap-cambios';
/* archivos de esta web*/
//@import 'selectline';
@import 'microsoft';
@import 'grid-gallery';
@import 'regber';

body {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: 16px;
}

@import 'mediumscreen';
@import 'smallscreen';