/* ==============mediumscreen.scss ==============*/
@media only screen and (max-width: 1400px) {

@import 'variables';
/*===============FONTS======*/
h1 {
    font-size: 30px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

.font-s {
    font-size: 18px;
}

.font-m {
    font-size: 18px;
}

.font-white {
    color: white;
}

.font-grey {
    color: #333;
}
hg {
    font-size: 40px;
    color: $color-gelb;
    font-family: $font-stack;
}

hw {
    font-size: 40px;
    color: white;
    font-family: $font-stack;
}

hb {
    font-size: 40px;
    color: $color-calipso;
    font-family: $font-stack;
}

hb-m {
    font-size: 30px;
    color: $color-calipso;
    font-family: $font-stack;
}
.titel-gross {
    font-size: 50px;
    color: #FFF;
    text-shadow: 1px 1px 4px #202A35;
}

.title {
    color: #FFF;
    font-size: 20px;
}

.weiss {
    color: #FFF;
    font-family: $font-stack;
}

.grey {
    color: #444;
    font-family: $font-stack;
}
.bg-cloud {
    min-height: 100vh;
    background-image: url('../images/bg/fondo_cloud-m.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
}
.bg-trans-osc {
    background-color: rgba(0, 50, 79, 0.4);
    padding: 50px;
    padding-right: 150px;
    height: 300px;
}
.box-carousel {
    height: 400px;
    padding: 20px;
    margin-top: 100px;
}
.logos {
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
}
.font-m {
    font-size: 30px;
}

.font-m > h1 {
    font-size: 50px !important;
}

.font-m > h2 {
    font-size: 45px !important;
}

.font-m > h3 {
    font-size: 40px !important;
}
.font-m > h4 {
    font-size: 30px !important;
}

.font-m > p {
    font-size: 20px !important;
}

.halfscreen {
        min-height: 80vh;
}

}