
@media only screen and (max-width: 480px) {

@import 'variables';
/*===============FONTS======*/
h1 {
    font-size: 20px !important;
}

h2 {
    font-size: 18px !important;
}

h3 {
    font-size: 16px !important;
}

h4 {
    font-size: 14px !important;
}

p {
    font-size: 10px;
}

.font-s {
    font-size: 12px;
}

.font-m {
    font-size: 12px;
}

.font-white {
    color: white;
}

.font-grey {
    color: #333;
}
hg {
    font-size: 20px;
    color: $color-gelb;
    font-family: $font-stack;
}

hw {
    font-size: 20px;
    color: white;
    font-family: $font-stack;
}

hb {
    font-size: 20px;
    color: $color-calipso;
    font-family: $font-stack;
}

hb-m {
    font-size: 20px;
    color: $color-calipso;
    font-family: $font-stack;
}
hb-w {
    font-size: 20px;
    color: white;
    font-family: $font-stack;
}
.titel-gross {
    font-size:25px;
    color: #FFF;
    text-shadow: 1px 1px 4px #202A35;
}

.title {
    color: #FFF;
    font-size: 18px;
}

.weiss {
    color: #FFF;
    font-family: $font-stack;
}

.grey {
    color: #444;
    font-family: $font-stack;
}


.contenido {
    padding: 30px !important;
}

.navbar-brand {
    padding: 0px 20px 0px 20px !important;
    margin: 0px !important;
}

.main-lat {
    display: none;
}
.main-lat-osc {
    display: none;
}

.franse {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 60px;
    padding-bottom: 80px;
}
.franse-m {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    
}
.franse-b {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 40px;
    
}
.bg-cloud {
    min-height: 100vh;
    background-image: url('../images/bg/fondo_cloud-s.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
}
.bg-trans-osc {
    background-color: rgba(0, 50, 79, 0.4);
    padding: 10px;
    padding-right: 10px;
}

.font-m {
    font-size: 20px;
}

.font-m > h1 {
    font-size: 30px !important;
}

.font-m > h2 {
    font-size: 26px !important;
}

.font-m > h3 {
    font-size: 24px !important;
}
.font-m > h4 {
    font-size: 20px !important;
}

.font-m > p {
    font-size: 14px !important;
    color: #555;
}

}