/*===NAVEGACION====*/

$color-claro: white;
$color-oscuro: gray;

@mixin flecha($color, $alpha, $size) {
    color: rgba($color, $alpha);
    font-size: $size;
    text-align: center;
    
}
.color-palette {
    color: rgba(255,255,255,0.87);
    font-size: 14px;
    font-weight: 500;
    width: 1160px;
    padding-bottom: 60px;
}

.color-palette .color-group:first-child, .color-palette .color-group:nth-of-type(3n+1), .color-palette .color-group:last-child:first-child, .color-palette .color-group:last-child:nth-of-type(3n+1) {
    clear: left;
    margin-left: 0;
}
.color-palette .color-group li.main-color .name, .color-palette .color-group:last-child li.main-color .name {
    display: block;
    margin-bottom: 30px;
}

.color-palette .color-group li.color .hex, .color-palette .color-group:last-child li.color .hex {
    float: right;
    text-transform: uppercase;
}

.color-palette .color-group, .color-palette .color-group:last-child {
    float: left;
    margin-left: 40px;
    padding-bottom: 40px;
    width: 360px;
    display: block;
    font-family: 'Roboto';
}

.color-palette .color-group li.color, .color-palette .color-group:last-child li.color {
    padding: 15px;
}
.color-palette .light-strong {
    color: #fff;
}

.color-palette .dark {
    color: rgba(0,0,0,0.87);
}

.color-palette .color-group li, .color-palette .color-group:last-child li {
    list-style-type: none;
}

.color-palette .color-group li.main-color, .color-palette .color-group:last-child li.main-color {
    border-bottom: 4px solid #fafafa;
}

/* FLECHA CLARA */
.main-lat {
    @include flecha($color-claro,0.7,80px);
    padding-top: 20%;
}

.main-lat > a {
    @include flecha($color-claro,0.7,80px);
    padding-top: 20%;
}

.main-lat > a:hover {
    @include flecha($color-claro,0.9,80px);
    padding-top: 20%;
}

.main-unter {
    @include flecha($color-claro,0.7,80px);
    top: 50%;
}

.main-unter > a {
    @include flecha($color-claro,0.7,80px);
}

.main-unter > a:hover {
    @include flecha($color-claro,0.9,80px);
}

/* FLECHA OSCURA*/

.main-lat-osc {
    @include flecha($color-oscuro,0.7,80px);
    padding-top: 20%;
}

.main-lat-osc > a {
    @include flecha($color-oscuro,0.7,80px);
    padding-top: 20%;
}

.main-lat-osc > a:hover {
    @include flecha($color-oscuro,0.9,80px);
    padding-top: 20%;
}

.main-unter-osc {
    @include flecha($color-oscuro,0.7,80px);
}

.main-unter-osc > a {
    @include flecha($color-oscuro,0.7,80px);
}

.main-unter-osc > a:hover {
    @include flecha($color-oscuro,0.9,80px);
}
.contenido {
    padding: 100px !important;
}
.fullscreen {
    min-height: 100vh;
}

.contenedor {
    width: 800px;
}
.unterclick {
    color: #FFFFFF !important;
    font-size: 30px;
}

.fbox {
    margin: 2px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border: solid;
    border-width: 1px;
    border-color: #ebebeb;
    border-radius: 10px;
    background: linear-gradient(#fff, #ebebeb);
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.boxmenu {
    height: 450px;
    margin: 2px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border: solid;
    border-width: 1px;
    border-color: #ebebeb;
    border-radius: 5px;
    background: linear-gradient(#fff, #fbfbfb);
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.boxlogo {
    min-height: 70px;
}
.boximg {
    min-height: 140px; 
}
.boxtxt {
    min-height: 160px;
}
.boxunter {
    min-height: 100px;
}