/*=====variablen=====*/
$font-stack:    Roboto Condensed, sans-serif;
$primary-color: #333;
$color-gelb: #FFCA56;
$color-calipso: #016D77;
$color-navbar: #1c5b8c;
//Color
$color-white: #FFF;
$color-black: #000;
$color-yellow: #FFCC44;
$color-red: #FF444D;
$color-blue: #1c4c7c;
$color-orange: #FFA244;
$color-violet: #D34BFF;
$color-green: #91FF44;
$color-pink: #FF44AE;
$color-olive: #dbe9c5;

//Gray Scale
$color-gray-fb: #FBFBFB;
$color-gray-f5: #F5F5F5;
$color-gray-e6: #e6e6e6;
$color-gray-9: #999999;
$color-gray-8: #888888;
$color-gray-7: #777777;
$color-gray-6: #666666;
$color-gray-5: #555555;
$color-gray-4: #444444;
$color-gray-3: #333333;
$color-gray-2: #222222;
$color-gray-1: #111111;